<article>
    <h1>Product Cataloque</h1>
    <div>
        <aside class="finder">
            <div>
                <label for="search-text">Search:</label>
                <br>
                <input type="text" id="search-text" aria-describedby="search-text" autocomplete="off" placeholder="Search..." [(ngModel)]="searchText">
            </div>
            <p>Sort by:</p>
            <select (change)="selectChangeHandler($event)">
                <option value="age">Newest</option>
                <option value="name">Alphabetically</option>
            </select>
        </aside>
        <section class="products">
            <ul>
                <li *ngFor="let phone of productList | filter:searchText | orderBy: order">
                    <div class="row">
                        <div>
                            <figure>
                                <img src="./assets/{{ phone.imageUrl }}" alt="phone image">
                            </figure>
                        </div>
                        <div class="description">
                            <p>
                                <a routerLink="{{ '/item/' + phone.id }}">{{ phone.name }}</a>
                            </p>
                            <p>{{ phone.snippet }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</article>